---
layout: splash
header:
  image: baner_grey.png
---

{% include base_path %}

<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
-->

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="https://mmistakes.github.io/minimal-mistakes/">Minimal Mistakes</a></li>
          
            
            <li class="masthead__menu-item"><a href="https://mmistakes.github.io/minimal-mistakes/docs/quick-start-guide/">Quick-Start Guide</a></li>
          
            
            <li class="masthead__menu-item"><a href="https://mmistakes.github.io/minimal-mistakes/about/">About</a></li>
          
            
            <li class="masthead__menu-item"><a href="https://mmistakes.github.io/minimal-mistakes/year-archive/">Sample Posts</a></li>
          
            
            <li class="masthead__menu-item"><a href="https://mmistakes.github.io/minimal-mistakes/collection-archive/">Sample Collections</a></li>
          
            
            <li class="masthead__menu-item"><a href="https://mmistakes.github.io/minimal-mistakes/terms/">Terms &amp; Privacy Policy</a></li>
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
